* {
    box-sizing: border-box;
}

.canvasContainer {
    display: flex;
    justify-content: center;
}

.canvasContainer > div {
    position: relative;
    margin-bottom: 20px;
}

.canvasContainer > div > span {
    position: absolute;
}

.canvasContainer > div > .medidaAlto {
    top: 50%;
    left: -40px;
}

.canvasContainer > div > .medidaAncho {
    left: 50%;
    bottom: -30px;
}

#lienzo {
    background-color: #f3e2d0;
    touch-action: none;
}

#snapshotCanvas {
    width: 200px;
    display: block;
    margin: auto;
}

#lienzo span:nth-child(1){
    position: absolute;
    top: 0;
    left: -20px;
}

p {
    font-size: 30px;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0 20px;
}

button:hover {
    background-color: gray;
}

.botones {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
